*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #58B19F;
}

nav{
  justify-content: center;
  padding: 2em 0;

  .new-list-btn{
    background-color: #2C3A47;
    color: white;
    transition: .5s;
    border: none;
    padding: .3em .8em;
    border-radius: 5px;

    &:hover{
      cursor: pointer;
      background-color: rgb(16, 22, 27);
    }
  }
}

.modal{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #00cec9;
  justify-content: center;
  align-items: center;

  form{
    width: 30%;

    input{
      width: 100%;
      padding: 1em;
      margin-bottom: .5em;
      border-radius: 5px;
      border: none;
    }
  }
}


.open{
  display: flex;
}

.row{
  display: flex;
  flex-flow: row wrap;
}

.column{
  display: flex;
  flex-flow: column nowrap;
}

.lists-container{
  padding: 2em;
  align-items: flex-start;

  .list{
    box-shadow: 0 0 5px .5px grey;
    border-radius: 5px;
    width: 30%;
    margin-right: 1em;
    margin-bottom: 1em;
    
    .list-title{
      text-align: center;
      color: white;
      padding: 1em;
      background-color: rgb(83, 83, 83);
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    
    .item{
      padding: 1em;
      background-color: white;
      border-bottom: .5px solid rgba(128, 128, 128, 0.55);
      position: relative;   

      &.done{
        background-color: #00cec9;
        color: white;
      }
  
      .item-heading{
        justify-content: space-between;
      }
    }

    .item-controls{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #2C3A47;
      opacity: 0;      
      align-items: center;
      justify-content: center;

      &:hover{
        animation: itemControls .3s ease-in-out 0s normal forwards;
      }

      button{
        border: 1px solid white;
        border-radius: 5px; 
        background: 0 0;
        color: white;
        padding: .3em .7em;
        transition: .5s;
        margin-right: .3em;

        &:hover{
          border: none;
          background-color: #00cec9;
        }
      }
    }
    
    .new-item-btn{
      border: none;
      background-color: #00cec9;
      color: white;
      padding: 1em;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: .5s;

      &:hover{
        background-color: #008987;
      }
    }
    
    .high{
      color: white;
      background-color: salmon;
    }
    
    .moderate{
      color: white;
      background-color: orange;
    }
  }  
}

@keyframes itemControls {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}